*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
}

.search{
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: 0 auto, 30px;
    display: block;
    border: 2px solid black;
    border-radius: 8px;
    background-color:  rgb(36, 36, 36);
    color: white;
    font-size: 16px;
   
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h1{
    font-size: 20px;
    margin: 10px 0;
}

.card p{
    font-size: 16px;
    margin: 0;
    color: gray;
    margin: 5px 0;
}
